.App {
  position: relative;
  margin: 50px auto;
  font-family: sans-serif;
  text-align: center;
  margin: 50px auto;
  width: 500px;
  height: 600px;
}

.head {
  background-color: red;
}

.food {
  background-color: green;
}

.body {
  background-color: yellow;
}

table {
  border: 2px solid black;
  table-layout: fixed;
  width: 400px;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
